@using StudySystem.ViewModels
@{
    ViewData["Title"] = "Classes";
    var course = (CourseViewModel) ViewData["Course"];
    var classes = (List<ClassViewModel>) ViewData["Classes"];
}

<div class="row">
    <div class="col-lg">
        <h3>@course.Title</h3>
        <h4>Classes</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Topic</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var clazz in classes)
            {
                <tr>
                    <th scope="row">@clazz.Id</th>
                    <td>@clazz.Topic</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Tasks" asp-action="ListByClass" asp-route-classId="@clazz.Id">Tasks</a>
                        <a class="btn btn-primary" asp-controller="Classes" asp-action="Edit" asp-route-id="@clazz.Id">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg"></div>
</div>
